Repository flecoqui/av-services: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml, pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml, pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml:
  pool:
    vmImage: ubuntu-20.04
  stages:
  - stage: TestAzureIotEdgeServices
    displayName: Test Azure Iot Edge Services Stage
    jobs:
    - job: TestAzureIotEdgeServicesJob
      displayName: Test Azure Iot Edge Services Job
      steps:
      - task: Bash@3
        displayName: Install Pre-requisites
  ...

pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml:
  pool:
    vmImage: ubuntu-20.04
  stages:
  - stage: TestAzureVirtualMachineServices
    displayName: Test Azure Virtual Machine Services Stage
    jobs:
    - job: TestAzureVirtualMachineServicesJob
      displayName: Test Azure Virtual Machine Services Job
      steps:
      - task: Bash@3
  ...

pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml:
  pool:
    vmImage: ubuntu-20.04
  stages:
  - stage: TestDockerServices
    displayName: Test Docker Services Stage
    jobs:
    - job: TestDockerServicesJob
      displayName: Test Docker Services Job
      steps:
      - task: Bash@3
        displayName: Install Pre-requisites
        inputs:
  ...

add bash file to create service principal for pipeline
  pipelines/utils/createrbacsp.sh
Due: none

add bash file to create service principal for pipeline
  README.md
Due: none

Remove github action pipelines
  .github/workflows/github-action.tests-azure-iot-edge.yml
  .github/workflows/github-action.tests-azure-vm.yml
  .github/workflows/github-action.tests-docker.yml
Due: none

update doc
  README.md
  docs/img/azure-devops-newproject.png
  docs/img/azure-devops-org.png
  docs/img/azure-devops-pipeline-01.png
  docs/img/azure-devops-pipeline-02.png
  docs/img/azure-devops-pipeline-03.png
  docs/img/azure-devops-pipeline-04.png
  docs/img/azure-devops-pipeline-05.png
  docs/img/azure-devops-pipeline-06.png
  docs/img/azure-devops-pipeline-07.png
  docs/img/azure-devops-pipeline-08.png
  docs/img/azure-devops-pipeline-09.png
  docs/img/azure-devops-pipeline-10.png
  docs/img/azure-devops-pipeline.png
  docs/img/azure-devops-project-git-imported.png
  docs/img/azure-devops-project-git.png
  docs/img/azure-devops-project-repo.png
  docs/img/azure-devops-project-settings.png
  docs/img/azure-devops-service-connection-01.png
  docs/img/azure-devops-service-connection-02.png
  docs/img/azure-devops-service-connection-03.png
  docs/img/azure-devops-service-connection-04.png
  docs/img/azure-devops-service-connection.png
  docs/img/azure-devops-variable-group-01.png
  docs/img/azure-devops-variable-group-02.png
  docs/img/azure-devops-variable-group.png
  docs/img/github-action-add-secret.png
  docs/img/github-action-added-secret.png
  docs/img/github-action-secrets.png
  docs/img/github-action-workflow-azure-iot-edge.png
  docs/img/github-action-workflow-azure-vm.png
  docs/img/github-action-workflow-docker.png
  docs/img/github-action-workflow-done.png
  docs/img/github-action-workflow.png
Due: none

update doc
  README.md
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/alpine/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml

update doc
  README.md
  docs/img/azure-devops-pipeline-11.png
  docs/img/azure-devops-pipeline-12.png
  docs/img/azure-devops-pipeline-13.png
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/alpine/avtool.sh
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/ubuntu/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml

Remove .github folder to disable github action by default
  .github/workflows/github-action.tests-azure-iot-edge.yml
  .github/workflows/github-action.tests-azure-vm.yml
  .github/workflows/github-action.tests-docker.yml
Due: none

add av-ffmpeg-azure
  .devcontainer/Dockerfile
  envs/container/docker/av-ffmpeg-azure/alpine/Dockerfile
  envs/container/docker/av-ffmpeg-azure/alpine/README.md
  envs/container/docker/av-ffmpeg-azure/alpine/avtool.sh
  envs/container/docker/av-ffmpeg-azure/alpine/batch.sh
  envs/container/docker/av-ffmpeg-azure/alpine/docker-compose.template.yml
  envs/container/docker/av-ffmpeg-azure/alpine/input.json
  envs/container/docker/av-ffmpeg-azure/ubuntu/Dockerfile
  envs/container/docker/av-ffmpeg-azure/ubuntu/Dockerfile.18.04
  envs/container/docker/av-ffmpeg-azure/ubuntu/README.md
  envs/container/docker/av-ffmpeg-azure/ubuntu/avtool.sh
  envs/container/docker/av-ffmpeg-azure/ubuntu/docker-compose.yml
Due: pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

add av-ffmpeg-azure
  .devcontainer/Dockerfile
Due: none

add av-ffmpeg-azure
  envs/container/docker/av-ffmpeg-azure/alpine/Dockerfile
  envs/container/docker/av-ffmpeg-azure/alpine/avtool.sh
  envs/container/docker/av-ffmpeg-azure/alpine/test.json
  envs/container/docker/av-ffmpeg-azure/ubuntu/Dockerfile
  envs/container/docker/av-ffmpeg-azure/ubuntu/Dockerfile.18.04
  envs/container/docker/av-ffmpeg-azure/ubuntu/avtool.sh
  envs/container/docker/av-ffmpeg-azure/ubuntu/batch.sh
  envs/container/docker/av-ffmpeg-azure/ubuntu/docker-compose.template.yml
  envs/container/docker/av-ffmpeg-azure/ubuntu/docker-compose.yml
  envs/container/docker/av-ffmpeg-azure/ubuntu/input.json
Due: pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

add av-ffmpeg-azure
  envs/container/docker/av-ffmpeg-azure/alpine/batch.sh
  envs/container/docker/av-ffmpeg-azure/ubuntu/batch.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

add av-ffmpeg-azure
  envs/container/docker/av-ffmpeg-azure/alpine/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

add av-ffmpeg-azure
  envs/container/docker/av-ffmpeg-azure/alpine/batch.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

add av-ffmpeg-azure
  envs/container/docker/av-ffmpeg-azure/ubuntu/batch.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

add av-ffmpeg-azure
  envs/container/docker/av-ffmpeg-azure/ubuntu/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

add av-ffmpeg-azure
  envs/container/docker/av-ffmpeg-azure/alpine/avtool.sh
  envs/container/docker/av-ffmpeg-azure/ubuntu/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

update av-ffmpeg-azure
  envs/container/docker/av-ffmpeg-azure/ubuntu/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

update av-ffmpeg-azure
  envs/container/docker/av-ffmpeg-azure/alpine/avtool.sh
  envs/container/docker/av-ffmpeg-azure/alpine/batch.sh
  envs/container/docker/av-ffmpeg-azure/ubuntu/batch.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

update av-ffmpeg-azure
  envs/container/docker/av-rtmp-sink/alpine/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

test github action
  .github/workflows/github-action.tests-azure-iot-edge.yml
Due: none

add gituhb action for test branch
  .github/workflows/github-action.tests-azure-iot-edge.yml
Due: none

update avtool.sh for ubuntu
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/ubuntu/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml

update avtool.sh for ubuntu
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/ubuntu/azuredeploy.vm.json
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml

update ubuntu av-rtmp-rtsp-sink to get successful github action
  .github/workflows/github-action.tests-azure-iot-edge.yml
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/ubuntu/avtool.sh
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/ubuntu/azuredeploy.vm.json
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml

update avtool.sh for ubuntu container
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/ubuntu/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml

update alpine container for iot-edge start issue
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/alpine/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml

update bash installation files to secure the success for the integration tests
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/alpine/avtool.sh
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/ubuntu/avtool.sh
  envs/vm/azure-vm/av-rtmp-hls-rtsp-sink/install-software.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml, pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml

remove github action pipeline
  .github/workflows/github-action.tests-azure-iot-edge.yml
Due: none

update documentation
  README.md
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/ubuntu/README.md
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml

add new container light rtmp to rtsp
  envs/container/docker/av-rtmp-rtsp-light-sink/alpine/Dockerfile
  envs/container/docker/av-rtmp-rtsp-light-sink/alpine/README.md
  envs/container/docker/av-rtmp-rtsp-light-sink/alpine/avtool.sh
  envs/container/docker/av-rtmp-rtsp-light-sink/alpine/docker-compose.yml
  envs/container/docker/av-rtmp-rtsp-light-sink/alpine/docker-entrypoint.sh
  envs/container/docker/av-rtmp-rtsp-light-sink/ubuntu/Dockerfile
  envs/container/docker/av-rtmp-rtsp-light-sink/ubuntu/README.md
  envs/container/docker/av-rtmp-rtsp-light-sink/ubuntu/avtool.sh
  envs/container/docker/av-rtmp-rtsp-light-sink/ubuntu/docker-compose.yml
  envs/container/docker/av-rtmp-rtsp-light-sink/ubuntu/docker-entrypoint.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

Path conditions:
  pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml: any of: envs/container/azure-iot-edge, src/lvatool, pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml
  pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml: any of: envs/vm/azure-vm, pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml
  pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml: any of: envs/container/docker, pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml
